<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h1>Add timetable</h1>
<form method="POST" th:action="@{/add}">
    <label for="lectorName">ID Администратора: </label>
    <input type="text" name="userId" th:value="${userId}"/>

    <div>
        <label for="lectorName">Имя Преподавателя </label>
        <input type="text" id="lectorName" name="lectorName"/>
    </div>

    <div>
        <label for="disciplineName">Название Дисциплины: </label>
        <input type="text" id="disciplineName" name="disciplineName"/>
    </div>

    <div>
        <label for="classroom">Номер Аудитории: </label>
        <input type="text" id="classroom" name="classroom"/>
    </div>

    <button type="submit">Add</button>
</form>
</body>
</html>