<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timetables</title>
</head>
<body>
<h1>Timetable list</h1>
<table border="separate">
    <tr>
        <th>№</th>
        <th>Имя Преподавателя</th>
        <th>Название дисциплины</th>
        <th>Кабинет</th>
        <th></th>
    </tr>
    <tr th:each="timetable,iter : ${timetables}">
        <td th:text="${iter.index+1}"></td>
        <td th:text="${timetable.lectorName}"></td>
        <td th:text="${timetable.disciplineName}"></td>
        <td th:text="${timetable.classroom}"></td>


        <td>
            <form method="POST" th:action="@{/delete/{userId}(userId=${userId})}">
                <input type="hidden" name="id" th:value="${timetable.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/add/{userId}(userId=${userId})}">Add</a>
</body>
</html>